button {
  background: none;
  border: 2px solid #000;
  outline: none;
  padding: 10px 20px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  -webkit-tap-highlight-color: transparent;
  font-size: inherit;
}
body {
  width: 100vw;
  height: var(--body-height);
  margin: 0;
  overflow: hidden;
  font-size: 16px;

  --cube-size: 50px;
}

section {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cubes {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  grid-gap: calc(var(--cube-size) / 1.5);
  justify-content: center;
}

.container {
  width: var(--cube-size);
  height: var(--cube-size);
  perspective-origin: 50% 50%;
  perspective: 150px;
}

.cube {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 10s;
}

.cube div {
  background: radial-gradient(
    circle,
    rgba(236, 236, 236, 0.9) 0%,
    rgba(185, 185, 185, 0.9) 100%
  );
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 2px 3px #5d5d5d;
  border-radius: 10px;
  box-sizing: border-box;
}
.cube .front {
  transform: translateZ(calc(var(--cube-size) / 2));
}
.cube .back {
  transform: rotateX(-180deg) translateZ(calc(var(--cube-size) / 2));
}
.cube .right {
  transform: rotateY(90deg) translateZ(calc(var(--cube-size) / 2));
}
.cube .left {
  transform: rotateY(-90deg) translateZ(calc(var(--cube-size) / 2));
}
.cube .top {
  transform: rotateX(90deg) translateZ(calc(var(--cube-size) / 2));
}
.cube .bottom {
  transform: rotateX(-90deg) translateZ(calc(var(--cube-size) / 2));
}

.dot {
  display: block;
  position: absolute;
  width: calc(var(--cube-size) / 8);
  height: calc(var(--cube-size) / 8);
  background: #414141;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.dot1 {
  top: calc(var(--cube-size) / 4);
  left: calc(var(--cube-size) / 4);
}
.dot3 {
  top: calc(var(--cube-size) / 4);
  left: calc(var(--cube-size) / 4 * 3);
}
.dot4 {
  top: calc(var(--cube-size) / 2);
  left: calc(var(--cube-size) / 4);
}
.dot5 {
  top: calc(var(--cube-size) / 2);
  left: calc(var(--cube-size) / 2);
}
.dot6 {
  top: calc(var(--cube-size) / 2);
  left: calc(var(--cube-size) / 4 * 3);
}
.dot7 {
  top: calc(var(--cube-size) / 4 * 3);
  left: calc(var(--cube-size) / 4);
}
.dot9 {
  top: calc(var(--cube-size) / 4 * 3);
  left: calc(var(--cube-size) / 4 * 3);
}

.buttons {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.buttons > button {
  width: 40%;
}
._roll {
  margin: 0;
  border: 2px solid #000;
  outline: none;
  padding: 10px 20px;
  color: #000;
  font-weight: bold;
  -webkit-tap-highlight-color: transparent;
}

.fairy {
  width: 200px;
  height: 200px;
  background: center/cover url(./images/fairy.webp) no-repeat;
  position: absolute;
  bottom: 0;
  left: -200px;
}
.fairy._active {
  animation: fairy 2s ease-in ;
}
@keyframes fairy {
  100% { transform: translateX(100vw); left: 0; }
}
.rainbow {
  width: 100vw;
  height: 100vh;
  background: center/cover url(./images/rainbow.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}
.rainbow._active {
  animation: rainbow 2s ease-in;
}
@keyframes rainbow {
  50% { opacity: .8; }
  100% { opacity: 0; }
}